@model TableReady.Group5.Domain.Review

@{
    ViewData["Title"] = "RedirectToReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:50px;">
    <h4>Review Form</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="RedirectToReview">
                <div class="form-group">
                    <label asp-for="reviewValue" class="control-label"></label>
                    <select class="form-control" asp-for="reviewValue" asp-items="@(new List<SelectListItem>
                                                                               {
                                                                                   new SelectListItem { Text = "--Select--", Value = "-1" },
                                                                                   new SelectListItem { Text = "No", Value = "0" },
                                                                                   new SelectListItem { Text = "Yes", Value = "1" }
                                                                               })"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FromFacebook" class="control-label"></label>
                    <textarea asp-for="FromFacebook" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="FromGoogle" class="control-label"></label>
                    <textarea asp-for="FromGoogle" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="FromTableReady" class="control-label"></label>
                    <textarea asp-for="FromTableReady" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-success" />
                    <input type="reset" value="Cancel" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>

    @{
        if (ViewBag.Msg != null)
        {
            <div class="text-danger">
                @ViewBag.Msg
            </div>
        }
    }

    <div>
        <a asp-action="RewardPage" asp-controller="Dashboard">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>